<nav>
  <ul class="clean horizontal nav">
    <li class="nav__list-item">Strona główna</li>
    <li class="nav__list-item">Statystyki</li>
    <li class="nav__list-item">Nasza misja</li>
    <li class="nav__list-item">Korzyści</li>
    <li class="nav__list-item">Etapy</li>
    <li class="nav__list-item">Opinie</li>
    <li class="nav__list-item">Kontakt</li>
  </ul>
</nav>