
{% block content %}
<section class="container container--column stats">
  <div class="stats__header">
    <div class="stats__title">
      <img class="stats__emblem" src="{{ site.link }}{{ title_emblemat_src }}" alt="Eagle emblemat">
      <span>Co nadziabane</span>
      <span>To nasze</span>
    </div>
    <div class="stats__information">
      <span>*Podczas tworzenia tej strony nie ucierpiał żaden orzeł ani robak</span>
    </div>
  </div>
  <div class="stats__content">
    <div class="stats__item">
      <div class="stats__item-background">
        <img src=#!"" alt="">
      </div>
      <div class="stats__item-content">
        <span>Znieśliśmy</span>
        <span>50 000</span>
        <span>Linii kodu</span>
      </div>
    </div>
    <div class="stats__item">1</div>
    <div class="stats__item">1</div>
    <div class="stats__item">1</div>
  </div>
</section>
{% endblock %}