/* stylelint-disable no-descending-specificity */
.stats{
  background-color:#000;

  &__header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    border-top:1px solid red;
  }

  &__title{
    color:#FFF;

    span{
      display:block;
    }

    span:first-child{
      font-size:5vw;
    }

    span:last-child{
      font-size:8vw;
    }
  }

  &__information{
    span{
      color:#FFF;
    }
  }
}